<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD989YEKEC4w9FM33QK4CeOhRb5RXGUJZA</string>
	<key>GCM_SENDER_ID</key>
	<string>988628121114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yukChat</string>
	<key>PROJECT_ID</key>
	<string>yuk-chat-7ad70</string>
	<key>STORAGE_BUCKET</key>
	<string>yuk-chat-7ad70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988628121114:ios:d8c387c9e6bb9e326143a3</string>
</dict>
</plist>